/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main {
    display: block;
}
body {
    background: #fafafa url(../images/bg-circles.gif) no-repeat 50% 35px;
    font: 14px/18px Arial, Helvetica, sans-serif;
    min-width: 1180px;
    color: #7f7e7e;
}

a {
    color: #00a7ea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 auto;
    width: 1180px;
}

.page {
    background: url(../images/bg-page.gif) repeat;
    margin: 0 0 18px;
    padding: 0 0 24px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.2);
}

#header {
    padding: 14px 1px 44px;
}
#header .holder:after,
#footer:after,
.message-form:after,
#nav ul:after,
.intro:after,
.widgets .holder:after,
.media-list:after,
#content:after,
.row:after {
    display: block;
    content: '';
    clear: both;
}

#header .holder {
    padding: 0 42px 0 23px;
}
.logo {
    float: left;
}

.contact-block {
    float: right;
    padding: 9px 0 0;
}

.contact-block .info {
    text-align: right;
    color: #65d30c;
    font-size: 12px;
    line-height: 16px;
}

.contact-block .phone {
    font-size: 18px;
    line-height: 30px;
    color: #88898a;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
}

.contact-block .phone mark {
    font-size: 24px;
    line-height: 28px;
    color: #00a7ea;
    background: none;
}

.message-form {
    width: 174px;
    margin: 0 0 0 auto;
    padding: 0 0 1px;
    position: relative;
}

.message-form .opener {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    background: #f8941d;
    padding: 1px 0 0;
    cursor: pointer;
}

.message-form form {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f8941d;
    padding: 12px 10px 5px 8px;
}
.message-form input[type=text],
.message-form input[type=email],
.message-form textarea {
    font: 12px Arial, Helvetica, sans-serif;
    padding: 8px 8px 7px;
    width: 138px;
    color: #828282;
    border: 1px solid #d77f16;
    display: block;
    margin: 0 0 3px;
}

.message-form textarea {
    padding-top: 6px;
    height: 92px;
    overflow: visible;
    resize: none;
    margin: 0 0 10px;
}
.message-form input[type=submit] {
    display: block;
    padding: 7px 0 5px;
    margin: 0 0 3px;
    text-align: center;
    color: #fff;
    width: 156px;
    border: 1px solid #fff;
    background: #65d30c;
    text-transform: uppercase;
    font: 12px/18px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#nav {
    background: #65d30c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

#nav ul {
    padding: 0 0 0 6px;
}

#nav li {
    float: left;
}

#nav a {
    color: #fff;
    float: left;
    padding: 17px 28px 14px 33px;
}

#nav .active a {
    border-left: 3px solid #fff;
    padding-left: 30px;
    background: url(../images/bg-nav-active.png) no-repeat 100% 0;
}
#nav .discounts a {
    width: 124px;
    height: 104px;
    text-indent: -9999px;
    margin: -28px 0 -28px 18px;
    padding: 0 !important;
    border: 0 !important;
    background: url(../images/text-discount.png) no-repeat !important;
}

#main {
    padding: 0 42px 0 48px;
}
.icons {
    position: relative;
    width: 400px;
    height: 600px;
    font-size: 24px;
}

.icons li {
    position: absolute;
    width: 276px;
    display: table;
}

.icons li:after {
    position: absolute;
    left: 95px;
    width: 182px;
    top: 50%;
    content: '';
    height: 1px;
}
.icons li .ico {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 94px;
    height: 94px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
}
.icons li .link {
    display: table-cell;
    padding: 0 0 0 6px;
    letter-spacing: 1px;
}
.icons li .link a {
    float: left;
    margin: 64px 0 0;
}
.icons li.blue {
    top: 7px;
    left: 83px;
}
.icons li.pink {
    top: 158px;
    left: 0;
}
.icons li.green {
    top: 309px;
    left: 40px;
}
.icons li.orange {
    top: 461px;
    left: 20px;
}
.icons li.blue .ico,
.icons li.blue:after {background: #00a7ea;}
.icons li.blue .link a {color: #00a7ea;}

.icons li.pink .ico,
.icons li.pink:after {background: #ea0088;}
.icons li.pink .link a {color: #ea0088;}

.icons li.green .ico,
.icons li.green:after {background: #9cea00;}
.icons li.green .link a {color: #9cea00;}

.icons li.orange .ico,
.icons li.orange:after {background: #f8941d;}
.icons li.orange .link a {color: #f8941d;}

.trainer {
    float: right;
    width: 748px;
}
.trainer .photo {
    padding: 43px 0 0;
    float: left;
}
.trainer .photo img {
    display: block;
}
.trainer .greeting {
    float: right;
    width: 382px;
    padding: 24px 12px 14px 14px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
}
.trainer .greeting:after {
    content: '';
    position: absolute;
    left: -97px;
    top: 52px;
    width: 102px;
    height: 42px;
    background: url(../images/bg-corner.png) no-repeat;
}
.trainer .greeting .content {
    padding: 0 0 9px 5px;
    border-bottom: 1px solid #dad9d9;
    color: #7f7e7e;
    font-style: italic;
    margin: 0 0 13px;
}
.trainer .greeting h1 {
    font: 24px Arial, Helvetica, sans-serif;
    color: #f8941d;
    margin: 0 0 15px;
}

.trainer .greeting p {
    margin: 0 0 18px;
}

.trainer .slogan {
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    padding: 0 7px 0 0;
}
.trainer .slogan .line {
    display: block;
    overflow: hidden;
    margin: 0 0 3px;
}
.trainer .slogan .line span {
    float: right;
}
.trainer .slogan .line1 span {
    font-size: 18px;
    line-height: 13px;
    background: #0c2f67;
    padding: 7px 0 0;
    margin: 0 -3px 0 0;
    letter-spacing: 4px;
    min-width: 147px;
}

.trainer .slogan .line2 span {
    font-size: 36px;
    line-height: 16px;
    background: #f8941d;
    padding: 19px 0px 3px 0;
    margin: 0 -12px 0 0;
    letter-spacing: 8px;
    min-width: 180px;
}

.trainer .slogan .line3 span {
    font-size: 40px;
    line-height: 18px;
    background: #65d30c;
    padding: 19px 0px 3px 0;
    margin: 0 -5px 0 0;
    letter-spacing: 0;
    min-width: 195px;
}
.widgets {
    background: #00a7ea url(../images/bg-circles-blue.png) no-repeat 100% 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 474px;
    padding: 14px 38px 0;
    margin: 0 42px;
    color: #fff;
    position: relative;
}
.widgets:after,
.widgets:before {
    position: absolute;
    content: '';
    width: 1px;
    border: 1px solid #009ad8;
    background: #80d3f5;
    top: 34px;
    bottom: 20px;
    left: 336px;
}
.widgets:before {
    left: auto;
    right: 336px;
}
.column {
    width: 258px;
}
.widgets h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 8px;
    text-transform: uppercase;
}
.widgets h3 strong {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
}
.widgets .column h3 {
    text-align: center;
}
.box {
    background: #fff;
    padding: 20px 10px 3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
}
.column .box {
    -webkit-box-shadow: inset 1px 6px 8px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    inset 1px 6px 8px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         inset 1px 6px 8px 0px rgba(50, 50, 50, 0.35);
    min-height: 428px;
    padding: 20px 19px 0;
}
.box .social-plugin {
    padding: 5px 0 0;
}
.media {
    width: 214px;
    text-align: center;
}
.media-list {
    padding: 0 0 30px;
}
.media-list .item {
    margin: 0 0 20px;
    position: relative;
}
.media-list .photo-container {
    border: 5px solid #00a7ea;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;

    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    overflow: hidden;
    position: relative;
    z-index: 2;
}
.media-list .photo-container img {
    vertical-align: top;
}
.media-list .btn-more {
    position: absolute;
    width: 26px;
    height: 16px;
    padding: 4px 2px 4px 0;
    color: #fff;
    right: -24px;
    bottom: 0;
    z-index: 1;
    background: #f8941d;
    font-size: 10px;
    text-align: right;
}
.media-list .btn-more.green {
    background: #65d30c;
}
.media-list .btn-more.pink {
    background: #ea0088;
}
.media-list .btn-more:hover {
    text-decoration: none;
}
.watch-all {
    font-size: 14px;
    line-height: 18px;
    color: #f8941d;
    text-transform: uppercase;
    border-bottom: 1px dashed #f8941d;
}
.watch-all:hover {
    text-decoration: none;
    border-bottom-color: transparent;
}
.column-wide {
    overflow: hidden;
    width: 328px;
    margin: 0 auto;
}
.request-form {
    padding: 28px 0 0;
}
.request-form input[type=text],
.request-form input[type=email],
.request-form textarea {
    display: block;
    background: #fff;
    width: 298px;
    border: 0;
    margin: 0 0 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    font: 12px/15px Arial, Helvetica, sans-serif;
    padding: 4px 15px;
    color: #bbb;
    outline: none;
}
.request-form input[type=text],
.request-form input[type=email] {
    -webkit-box-shadow: inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         inset 0px 2px 6px 0px rgba(50, 50, 50, 0.35);
}
.request-form textarea {
    resize: none;
    height: 168px;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 5px;
}
.request-form input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 228px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #9cea00;
    border: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    cursor: pointer;
}
#content {
    background: #fff;
    padding: 20px 30px 10px 32px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 0 0 50px;
    min-height: 524px;
}
#content h1 {
    font-size: 30px;
    line-height: normal;
    color: #f8941d;
    margin: 0 0 13px;
}
.trainers-list {
    color: #7f7e7e;
    font-size: 12px;
    line-height: 14px;
    width: 1040px;
    padding: 9px 0 0;
    margin: 0 -12px 0 0;
}
.trainers-list .item {
    display: inline-block;
    vertical-align: top;
    width: 172px;
    padding: 0 23px 12px 9px;
    text-align: center;
}
.trainers-list .photo {
    margin: 0 0 20px;
}
#content img {
    vertical-align: top;
    border: 1px solid #e7e3e3;
}
.trainers-list h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.trainers-list h2 a {
    color: #65d30c;
}
.trainers-list .direction {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 4px;
}
.photo-column {
    float: left;
    width: 327px;
    padding: 16px 37px 0 13px;
    position: relative;
}
.photo-column .photo {
    position: relative;
}
.photo-column .photo.photo2 {
    margin: -200px 0 0 144px;
}
.photo-column .photo.photo3 {
    margin: -37px 0 0;
}
.article {
    overflow: hidden;
}
.article p {
    margin: 0 0 18px;
}
#content .article h1 {
    padding: 0;
    margin: 0 0 14px;
}
.photo-column-right {
    float: right;
    padding: 6px 0 0 8px;
    width: 267px;
}
.row {
    padding-bottom: 5px;
}
.row img.alignleft,
.row img.alignright {
    margin: 0;
}
.row.indent {
    padding-left: 35px;
}
.row.indent2 {
    padding-left: 114px;
}
.row.indent3 {
    padding-left: 14px;
}
.promo-slogan-green {
    display: block;
    width: 108px;
    border: 1px solid #d2d1d1;
    background: #65d30c;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 10px;
}
.promo-slogan-blue {
    display: block;
    border: 1px solid #d2d1d1;
    background: #00a7ea;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 10px;
    margin: 0 0 3px;
}
.promo-slogan-green a,
.promo-slogan-blue a{
    color: #fff;
}
.promo {
    overflow: hidden;
    margin: 0 0 28px;
}
.promo h2 {
    font-weight: bold;
    text-transform: uppercase;
}
.promo h2 a {
    color: #00a7ea;
}
.promo h2 {
    overflow: hidden;
}
.more {
    padding: 18px 0 0;
}
.more a {
    color: #57c002;
}
#content .img-promo {
    margin: 17px -20px 16px -30px;
}
#content .img-promo img {
    border: 0;
}
.row.indent3 img.alignright {
    margin: 21px 0 0 -10px;
}
#footer {
    padding: 0 0 10px 4px;
}
.produced {
    float: right;
    font-size: 11px;
    line-height: 11px;
    padding: 0 0 0 10px;
    margin: 20px 2px 0 0;
    word-spacing: 1px;
    text-decoration: none;
    color: #00a7ea;
    border-bottom: 1px solid #00a7ea;
    background: url(../images/bg-arrow.png) no-repeat 0 6px;
}
.produced:hover {
    text-decoration: none;
    border-bottom-color: transparent;
}
.alignleft {
    float: left;
}
img.alignleft {
    margin: 0 7px 0 0;
}

.alignright {
    float: right;
}
img.alignright {
    margin: 0 0 0 7px;
}

/* fancybox */
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}
#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url(../images/fancybox/fancybox.png);
}
#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}
#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}
#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px; /* should be 20px */
    z-index: 1101;
    outline: none;
    display: none;
}
#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow:0 0 30px rgba(0,0,0,0.75);
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.75);
}
#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: visible;
    z-index: 1102;
    border: 0px solid #fff; /* border-width should be zero */
}
#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
}
#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url(../images/fancybox/fancybox.png) -40px 0px;
    cursor: pointer;
    z-index: 1103;
}
#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
}
#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}
#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url(../images/fancybox/blank.gif);
    z-index: 1102;
    display: none;
}
#fancybox-left {
    left: 0px;
}
#fancybox-right {
    right: 0px;
}
#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}
#fancybox-left-ico {
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -30px;
}
#fancybox-right-ico {
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -60px;
}
#fancybox-left:hover span {
    left: 20px;
}
#fancybox-right:hover span {
    left: auto;
    right: 20px;
}
.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
    display:none;
}
#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url(../images/fancybox/fancybox-x.png);
}
#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -162px;
}
#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url(../images/fancybox/fancybox-y.png);
    background-position: -20px 0px;
}
#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -182px;
}
#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url(../images/fancybox/fancybox-x.png);
    background-position: 0px -20px;
}
#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -142px;
}
#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url(../images/fancybox/fancybox-y.png);
}
#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url(../images/fancybox/fancybox.png);
    background-position: -40px -122px;
}
#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
}
.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
}
.fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
}
.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
}
#fancybox-title-over {
    padding: 10px;
    background-image: url(../images/fancybox/fancy_title_over.png);
    display: block;
}
.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
}
#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
}
#fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
}
#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url(../images/fancybox/fancybox.png) -40px -90px no-repeat;
}
#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url(../images/fancybox/fancybox-x.png) 0px -40px;
}
#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url(../images/fancybox/fancybox.png) -55px -90px no-repeat;
}